*{margin: 0;
padding: 0;}


body{
    background-color: black;
}

.bgheader{
    background-color: black;
}

header{
    background-image: url('image/header.png');
    height: 70px;
    font-family: 'Inter', sans-serif;
}

header p{
    color: white;
    font-size: 24px;
    text-align: center;
    padding: 10px;
}

.bar{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
}

.bar .gambar{
    display: flex;
    float: left;
    width: 100%;
}

.bar .gambar img {
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
}

.bar .tombol{
    display: flex;
    float: right;
    width: 100%;
    gap: 30px;
    font-size: 18px;
    margin: 20px;
    margin-left: 17%;
    font-family: 'Inter', sans-serif;
}

.bar .tombol a{
    text-decoration: none;
    color: black;
}

.bar .tombol a:hover{
    color: #b5b0b0;
}

.container-box{
    padding: 0 70px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.container-box .logo a{
    font-size: 30px;
}

.navbar.sticky-top {
    background-color: #f8f9fa;
    position: sticky;
    top: 0;
    z-index: 9999;
}

a.nav-link.active {
    background-color: #0C697A;
    color: white;
  }

.button-choice {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-choice a{
    font-family: 'inter', sans-serif;
    font-size: 15px;
    padding: 5px 30px;
    text-decoration: none;
    background-color: #b5b0b0;
    border-color: black;
    border-style: solid;
    border-radius: 10px;
    color: black;
    transition: 0.2s;
}

.button-choice a:hover {
    background-color: #0C697A;
    color: white;
}


.jumbotron{
    background-color: white;
}

.container-card{
    padding: 30px 70px;
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-items: center;
    gap: 30px;
}

.card{
    border: none;
    border-radius: 10px;
    width: 220px;
    height: 300px;
}

.img-box{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.card img{
    width: 80%;
}

.container-card a{
    border-radius: 20px;
}

/*footer*/
.bgfooter{
    background-image: url('image/backgroundfooter.png');
    height: 80px;
}

.bgfooter .container3{
    display: grid;
    grid-template-areas: "box1 box2";
    grid-template-columns: 0.5fr 0.5fr ;
}

.container3 .box1{
    grid-area: box1;
    display: flex;
    justify-content: right;
    padding-top: 20px;
    padding-right: 100px;
}

.container3 .box1 img{
    height: 40px;
    width: 80px;
}

.container3 .box2{
    color: #ffffff;
    padding-top: 7px;
    padding-left: 70px;
}

.container3 .box2 i{
    color: #ffffff;
}

.container3 .box2 a{
    text-decoration: none;
    padding-left: 10px;
}

.container3 .box2 p{
    margin-left: 0px;
}

footer{
    background-color:white;
    height: 30px;
    padding-right: 20px;
}

footer p{
    display: flex;
    justify-content: center;
    font-family: 'inter', sans-serif;
}