*{
    margin: 0;
    padding: 0;
}

.bgheader{
    background-color: black;
}

header{
    background-image: url('image/header.png');
    height: 70px;
    font-family: 'Inter', sans-serif;
    color: white;
    font-size: 24px;
    text-align: center;
}

header p{
    padding: 20px;
}

.bars{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    border: 1px solid black;
}

.bars .gambars{
    display: flex;
    float: left;
    width: 33%;
}

.bars .gambars a img {
    width: 100px;
    height: auto;
    margin: 15px;
    margin-left: 100%;
}

.bars .button-choice {
    display: flex;
    flex-direction: row;
    float: right;
    width: 100%;
}

.bars .button-choice a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 150px;
    border-radius: 10px;
    margin: 13px;
    margin-left: 20px;
    background-color: #B5B0B0;
    text-decoration: none;
    color: black;
    transition: 0.2s;
    font-family: 'inter', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border: 1px solid black;
}

.bars .button-choice a:hover{
    background-color: #0C697A;
}

.bars .button-choice .active {
    background: #0C697A;
}

.bgfooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url('image/backgroundfooter.png');
}

.bgfooter .box3{
    display: flex;
    width: 100%;
}
.bgfooter .box3 img{
    width: 100px;
    height: auto;
    margin: 28px;
    margin-left: 75%;
}

.bgfooter .box4{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding-top: 20px;
}

.bgfooter .box4 .sosmed{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 5%;
}

footer{
    padding-right: 20px;
    text-align: center;
    margin: 20px;
}
