*{
    margin: 0;
    padding: 0;
}

.bgheader{
    background-color: black;
}

header{
    background-image: url('image/header.png');
    height: 70px;
    font-family: 'Inter', sans-serif;
    color: white;
    text-align: center;
}

header p{
    padding: 20px;
    font-size: 24px;
}

.bar{
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    background-color: white;
    border-bottom: 1px solid black;
}

.bar .gambar{
    display: flex;
    float: left;
    width: 100%;
}

.bar .gambar img {
    width: 100px;
    height: auto;
    margin-top: 10px;
    margin-left: 50px;
}

.bar .tombol{
    display: flex;
    float: right;
    width: 100%;
    gap: 30px;
    font-size: 18px;
    margin: 20px;
    margin-left: 17%;
    font-family: 'Inter', sans-serif;
}

.bar .tombol a{
    text-decoration: none;
    color: black;
}

.bar .tombol a:hover{
    color: #b5b0b0;
}

.jumbotron img{
    width: 100%;
    height: auto;
}

.aboutus {
    display: flex;
    flex-direction: row;
    margin-bottom: 7%;
    padding-top: 3%;
}

.aboutus .box1 {
    width: 50%;
}

.aboutus .box1 img{
    width: 450px;
    height: auto;
    margin-top: 10%;
    margin-left: 15%;
}

.aboutus .box2 {
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 7%;
}

.aboutus .box2 h2{
    font-family: 'inter', sans-serif;
    font-size: 40px;
    text-align: center;
    margin-bottom: 15px;
}

.aboutus .box2 p{
    font-family: 'inter', sans-serif;
    text-align: justify;
    font-size: 22px;
}

.product {
    background-image: url('image/product.png');
    background-color: black;
    color: white;
    text-align: justify;
    padding: 50px;
    padding-top: 7%;
}

.product .kalimat_kategori h2{
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 35px;
    margin-bottom: 20px;
}

.product .kalimat_kategori p{
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 19px;
    margin-left: 10%;
    margin-right: 10%;
}

.product .kategori {
    display: flex;
    flex-direction: row;
    margin: 20px;
    margin-top: 20px;
    margin-left: 4%;
}

.product .kategori img{
    width: 230px;
    margin: 20px;
    margin-bottom: 30px;
}

.product .view-more{
    background-color: rgba(181, 176, 176, 0.7);
    text-align: center;
    height: 35px;
    margin-left: 42%;
    margin-right: 42%;
    border-radius: 15px;
    font-family: 'inter', sans-serif;
    font-size: 22px;
    padding-top: 10px;
}

.product .view-more a{
    text-decoration: none;
    color: white;
}

.product .view-more a:hover{
    color: black;
}

.report{
    display: flex;
}

.report{
    display: flex;
    justify-content: center;
}

.report .box2 {
    display: flex;
    flex-direction: row;
    margin: 100px 100px;
    border: 2px solid black;
    border-radius: 20px;
    height: auto;
    width: 68%;
    
}

.report .box2 .box2-1{
    margin: 110px 70px;
    width: 40%;
}

.report .box2 .box2-1 h2{
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 33px;
    margin-bottom: 20px;
}

.report .box2 .box2-1 p{
    text-align: justify;
    font-family: 'inter', sans-serif;
    font-size: 18px;
    margin-left: 30px;
    margin-right: 20px;
}

.report .box2 .box2-2{
    display: flex;
    flex-direction: column;
    width: 75%;
    height: auto;
}

.report .box2 .box2-2{
    margin: 60px 0;
}

.report .box2 .box2-2 .nama{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.report .box2 .box2-2 .nama{
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 15px;
    margin-top: 30px;
    width: 75%;
}

.report .box2 .box2-2 .nama i{
    margin: 15px;
}

.report .box2 .box2-2 .nama input{
    border: none;
    font-size: 15px;
    width: 80%;
    outline: none;
}

.report .box2 .box2-2 .email{
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 15px;
    width: 75%;
}

.report .box2 .box2-2 .email i{
    margin: 15px;
}

.report .box2 .box2-2 .email input{
    border: none;
    font-size: 15px;
    width: 75%;
    outline: none;
}

.report .box2 .box2-2 .desc{
    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin: 15px;
    width: 75%;
    height: 150px;
}

.report .box2 .box2-2 .desc textarea{
    border: none;
    font-size: 15px;
    width: 75%;
    margin-left: 10px;
    margin-top: 15px;
    outline: none;
}

.report .box2 .box2-2 button{
    width: 75%;
    margin-left: 12px;
    background-color: #0C697A;
    border-style: none;
    border-radius: 10px;
    height: 40px;
    font-size: 18px;
    color: white;
    margin-top: 15px;
}

.report .box2 .box2-2 button:hover{
    background-color: #b5b0b0;
    color: black;
}

.bgfooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-image: url('image/backgroundfooter.png');
}

.bgfooter .box3{
    display: flex;
    width: 100%;
}
.bgfooter .box3 img{
    width: 100px;
    height: auto;
    margin: 28px;
    margin-left: 75%;
}

.bgfooter .box4{
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    padding-top: 20px;
}

.bgfooter .box4 .sosmed{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    gap: 5%;
}

.bgfooter .box4 .sosmed a{
    text-decoration: none;
    color: white;
}

.bgfooter .box4 .sosmed a:hover{
    color: #b5b0b0;
}


footer{
    padding-right: 20px;
    text-align: center;
    margin: 20px;
}

footer p{
    font-size: 20px;
}